/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------------- DOCUMENT STYLES -------------------------------- */
@font-face {
    font-family: Roboto-light;
    src: url(../assets/Roboto/Roboto-Light.ttf);
  }

@font-face {
    font-family: Neucha;
    src: url(../assets/Neucha/Neucha-Regular.ttf);
  }

@font-face {
    font-family: Roboto-bold;
    src: url(../assets/Roboto/Roboto-Bold.ttf);
  }

body {
    /* background-image: url(../assets/double-bubble.png); */
    background-color:#FEFAE0;
    font-family: Roboto-light, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
  }

a {
    text-decoration: none;
}

/* "invisible" functions */
.desktop_invisible {
    display: none;
}
.mobile_invisible{
    display: block;
}

/* -------------------------------- NAVIGATIONS STYLES -------------------------------- */

/* NAVIGATIONS FOR MOBILE */

nav svg.hamburger {
    padding: 5px;
    border: 1px solid black;
    margin-right: 1em;
    border-radius: 10px;
    cursor: pointer;
}

div.mobile_links{
    position: fixed;
    right: 0;
    transform: translateX(100%);
    top: 0;
    bottom: 0;
    background-color: rgb(102, 102, 102);
    z-index: 3;
    transition: transform .3s;
}
div.mobile_links ul {
    flex-flow: column;
    height: 100%;
    margin-top: 65px;
}
div.mobile_links ul li {
    border: 0px solid black;
    padding: 2em 1em;
    text-align: center;
}
div.mobile_links ul li a {
    color: white;
}
div.mobile_links ul li:hover {
    cursor: pointer;
    background-color: black;
}

/* NAVIGATIONS FOR DESKTOP */

nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5F6F52;
    z-index: 4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

nav img {
    margin-left: 15px;
    height: inherit;
}

nav h1 {
    color: white;
    font-family: Neucha;
    font-size: 3em;
}

nav div.links ul {
    margin-right: 15px;
    display: flex;
    flex-direction: row;
}
nav div.links ul li a {
    color: white;
}
nav div.links ul li:hover a {
    color: rgb(66, 66, 66);
}
nav div.links ul li:hover {
    background-color: #FEFAE0;
    cursor: pointer;
}
nav div.links ul li {
    padding: 10px;
    border: 1px solid rgb(190, 190, 190);
    background-color: #38442f;
}
nav div.links ul li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-decoration: none;
}
nav div.links ul li:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* -------------------------------- HEADER STYLES -------------------------------- */

header {
    color: white;
    position: relative;
    overflow: hidden;
    height: 100vh;
    border-bottom: 2px solid black;
}

header img {
    position: absolute;
    min-width: 100vmax;
    min-height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(50%);
    z-index: 1;
}

header div.text {
    font-family: Neucha;
    margin: 10px;
    position: absolute;
    z-index: 2;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}
header div.text h1{
    font-size: 4rem;
    line-height: 1.2em;
}
header div.text p{
    font-size: 1.5rem;
}

/* -------------------------------- VISI DAN MISI SECTION STYLES -------------------------------- */

#visi_dan_misi h1 {
    text-align: center;
    font-size: 3em;
    margin: 50px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

#visi_dan_misi div.card {
    /* box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75); */
    border-radius: 15px;
    border: 5px solid rgba(0,0,0,0.75);
    display: flex;
    flex: 1;
    background-color: #B99470;
    width: 90%;
    margin: auto;
    padding: 15px;
}

#visi_dan_misi div.card div.text {
    align-self: center;
    flex-basis: 100%;
    width: 50%;
    color: white;
    text-shadow: 2px 2px 4px #333;
}

#visi_dan_misi div.card div.text h2 {
    text-align: center;
    font-size: 2em;
    margin: 15px auto;
    font-family: Roboto-bold;
}

#visi_dan_misi div.card div.text P, #visi_dan_misi div.card div.text ul{
    font-size: 1.2em;
}

#visi_dan_misi div.card ul{
    list-style: circle inside;
}

#visi_dan_misi div.card div.text p {
    text-align: center;
}

#visi_dan_misi div.card div.text ul li {
    margin: 10px 10px;
}

#visi_dan_misi div.card div.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    justify-items: center;
    align-items: center;
    text-align: center;
    position: relative;
    flex-basis: 100%;
}
#visi_dan_misi div.card div.images img {
    width: 100%;
    box-sizing: border-box;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px dashed black;
    box-shadow: 0 0 10px black;
}
#visi_dan_misi div.card div.images svg {
    width: 80%;
    height: 80%;
}
#visi_dan_misi div.card div.images svg.one {
    transform: rotate(-12deg);
}
#visi_dan_misi div.card div.images svg.two {
    transform: rotate(12deg);
}

/* -------------------------------- MAIN "FACILIY" SECTION STYLES -------------------------------- */

main section.facilitation {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}
main section.facilitation h1 {
    text-align: center;
    font-size: 3em;
    margin: 50px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}
main section.facilitation ul{
    justify-content: center;
    margin: auto;
    display: flex;
    gap: 50px;
    overflow-x: auto;
    padding: 25px 10px;
}
main section.facilitation ul li {
    text-align: center;
    transition: .2s;
}
main section.facilitation ul li:hover {
    transform: translateY(-5%);
}
main section.facilitation ul li p {
    font-size: 1.5em;
    margin: 1em 0;
}
main section.facilitation ul li img {
    border-radius: 50%;
    border: 3px solid rgb(59, 59, 59);
    box-shadow: 0 0 10px black;
    width: 20vmax;
    height: 20vmax;
}

/* -------------------------------- KONTAK DAN ALAMAT SECTION STYLES -------------------------------- */

#kontak_dan_alamat h1 {
    text-align: center;
    font-size: 3em;
    margin: 50px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

#kontak_dan_alamat div.container {
    display: flex;
    width: 90%;
    margin: auto;
}

#kontak_dan_alamat div.container h2 {
    font-family: Roboto-bold;
    text-align: center;
    font-size: 1.5em;
    margin: 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

#kontak_dan_alamat div.container div.kontak {
    text-align: center;
    flex-basis: 50%;
    display: grid;
}

#kontak_dan_alamat div.container div.kontak ul li {
    font-size: 2.3em;
    margin:10px 0;
}

#kontak_dan_alamat div.container div.kontak ul li svg {
    height: 1em;
    width: 1em;
}

#kontak_dan_alamat div.container div.alamat {
    text-align: center;
    flex-basis: 50%;
}

#kontak_dan_alamat div.container div.alamat h2,
#kontak_dan_alamat div.container div.alamat iframe, 
#kontak_dan_alamat div.container div.alamat div {
    margin:20px 0;
}

#kontak_dan_alamat div.container div.alamat iframe {
    width: 100%;
    min-height: 300px;
    border: 3px solid #38442f;
}

/* -------------------------------- MAIN "SEND MESSAGE" SECTION STYLES -------------------------------- */

main section.message {
    padding: 50px;
}

main section.message h1{
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    font-size: 3em;
    margin-right: 50px;
    margin-bottom: 50px;
}

main section.message div.container {
    display: flex;
    gap: 3vw;
    width: 100%;
}

main section.message div.container form {
    line-height: 2em;
    display: grid;
    grid-template-columns: auto auto auto;
    flex: 1;
}
main section.message div.container form input[type=button]{
    grid-column-start: 1;
    grid-column-end: 4;
}
main section.message div.container textarea#result {
    flex: 1;
}

/* -------------------------------- FOOTER STYLES -------------------------------- */

footer {
    color: white;
    background-color: rgb(80, 80, 80);
    text-align: right;
}
footer p {
    padding: 3em;
}

/* -------------------------------- MEDIA TABLET QUERY -------------------------------- */

@media only screen and (max-width: 800px) {

    nav h1 {
        font-size: 1.5em;
    }
    
    main section.message div.container {
        flex-flow: column;
    }
    header div.text h1{
        font-size: 2rem;
    }
    header div.text p{
        font-size: 1em;
    }
    
    #kontak_dan_alamat div.container {
        flex-flow: column;
    }
}

/* -------------------------------- MEDIA PHONE QUERY -------------------------------- */

@media only screen and (max-width: 600px) {

    #visi_dan_misi div.card {
        flex-wrap: wrap;
    }

    /* "invisible" functions */
    
    .mobile_invisible{
        display: none;
    }
    .desktop_invisible{
        display: block;
    }

    /* -------------------------------- NAVIGATIONS STYLES -------------------------------- */

    nav {
        height: 35px;
    }

    main section.facilitation h1 {
        margin-left: 10px;
    }

    main section.message {
        padding: 10px;
    }
    main section.facilitation ul{
        justify-content: normal;
    }
}

/* colour pallette */

/*
#5F6F52 - Reseda green
#A9B388 - Sage
#FEFAE0 - Cornsilj
#B99470 - Lion
*/

/*https://colorhunt.co/palette/5f6f52a9b388fefae0b99470*/
